@font-face {
	font-family: 'oasmathv3regular';
	src: url('OASmathv3.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'oasmathv3regular';
	src: url('OASmathv3Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'oasmathv3regular';
	src: url('OASmathv3BoldItalic.ttf') format('truetype');					 
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'oasmathv3regular';
	src: url('OASmathv3Italic.ttf') format('truetype');					 
	font-style: italic;
}