@font-face {
	font-family: 'oasmathv3regular';
	src: url('OASmathv3.svg') format('svg'); 	
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'oasmathv3regular';
	src: url('OASmathv3Bold.svg') format('svg'); 	
	font-weight: bold;
    font-style: normal;
}
@font-face {
	font-family: 'oasmathv3regular';
	src: url('OASmathv3BoldItalic.svg') format('svg'); 	
	font-weight: bold;
    font-style: italic;
}
@font-face {
	font-family: 'oasmathv3regular';
	src: url('OASmathv3Italic.svg') format('svg'); 	
    font-style: italic;
}