#blockDiv{
    -moz-opacity: 0.48;
    opacity: 0.48;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=48);
    filter:alpha(opacity=48);
    background-color: black;
}
.loading-text {
    font-size: 26;
	color: white;
	top: 46%;
	left: 29%;
	position: absolute;
}

.loading-img{
	left: 50%;
	top: 40%;
	position: absolute;
	z-index: 9999;
}

.loading-background {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1999;
}