
// The following version info is used to configure the LockdownBrowser.


VISIBLE_VERSION_NUMBER = 1.0.21



// $HeadURL: svn+ssh://ssontag@65.40.250.80/STG/Parts/Lockdown%20Browser/Trunk/Product/LockdownBrowser.xcconfig $
// $LastChangedRevision: 4 $
// $LastChangedDate: 2007-04-20 12:11:41 -0500 (Fri, 20 Apr 2007) $
// $LastChangedBy: ssontag $