		
			.magnifying_glass {
				width: 200px;
				height: 100px;
				position: absolute;
				// top: 250px;
				// left: 575px; 
				overflow: hidden;
				
				//border-radius: 100px; /* Half glass max width height */
				//-moz-border-radius: 100px; /* Half glass max width height */
				//-webkit-border-radius: 0px;
				
				border: 1px solid black;
				background-color: white;
				z-index:10000000;
				
				
			}
			
			.magnifying_glass .magnified_content {
				
				margin-left: -170px; /* Half glass width */
				margin-top: -60px; /* Half glass height */
				
				overflow: visible;
				
				position: absolute;
				display: block;
				
				transform:scale(2);
				-moz-transform:scale(2);
				-webkit-transform:scale(2);
				-ms-transform:scale(2);
				-o-transform:scale(2);
				
				transform-origin: left top;
				-moz-transform-origin: left top;
				-ms-transform-origin: left top;
				-webkit-transform-origin: left top;
				-o-transform-origin: left top;
				
			}
			
			.magnifying_glass .magnifying_lens {
				position: absolute;
				width: 100%;
				height: 100%;
				
				opacity: 0.0;
				-ms-filter: alpha(opacity=0);
				
				background-color: white;
				cursor: default;
			}