<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <servlet>
    <description>DownloadContentServlet</description>
    <display-name>DownloadContentServlet</display-name>
    <servlet-name>DownloadContentServlet</servlet-name>
    <servlet-class>com.ctb.tdc.web.servlet.DownloadContentServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DownloadContentServlet</servlet-name>
    <url-pattern>/servlet/DownloadContentServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>LoadContentServlet</description>
    <display-name>LoadContentServlet</display-name>
    <servlet-name>LoadContentServlet</servlet-name>
    <servlet-class>com.ctb.tdc.web.servlet.LoadContentServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoadContentServlet</servlet-name>
    <url-pattern>/servlet/LoadContentServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>PersistenceServlet</description>
    <display-name>PersistenceServlet</display-name>
    <servlet-name>PersistenceServlet</servlet-name>
    <servlet-class>com.ctb.tdc.web.servlet.PersistenceServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servlet/PersistenceServlet</url-pattern>
  </servlet-mapping>

</web-app>
