<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
  <filter>
    <filter-name>NoCacheFilter</filter-name>
    <filter-class>com.ctb.util.web.filter.NoCacheFilter</filter-class>
  </filter>
  <filter>
    <filter-name>SecurityFilter</filter-name>
    <filter-class>com.ctb.tdc.web.filter.SecurityFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>NoCacheFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

        
  <listener>
    <listener-class>com.ctb.tdc.web.listener.StartupListener</listener-class>
  </listener>
  
  <servlet>
    <description>SpeechServlet</description>
    <display-name>SpeechServlet</display-name>
    <servlet-name>SpeechServlet</servlet-name>
    <servlet-class>com.ctb.tdc.web.servlet.SpeechServlet</servlet-class>
  </servlet>
  
  <servlet>
    <description>ContentServlet</description>
    <display-name>ContentServlet</display-name>
    <servlet-name>ContentServlet</servlet-name>
    <servlet-class>com.ctb.tdc.web.servlet.ContentServlet</servlet-class>
  </servlet>
  
  <servlet>
    <description>IIContentServlet</description>
    <display-name>IIContentServlet</display-name>
    <servlet-name>IIContentServlet</servlet-name>
    <servlet-class>com.ctb.tdc.web.servlet.IIContentServlet</servlet-class>
  </servlet>
  
  <servlet>
    <description>TABEAdaptiveContentServlet</description>
    <display-name>TABEAdaptiveContentServlet</display-name>
    <servlet-name>TABEAdaptiveContentServlet</servlet-name>
    <servlet-class>com.ctb.tdc.web.servlet.TABEAdaptiveContentServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servlet/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletAS3/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletAS4/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletAS5/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletAS6/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletAS7/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletAS8/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servlet3/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servlet4/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servlet5/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servlet6-8/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletii1/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletTABEFixed/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletTN312/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletTN313/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletTN314/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletTN316/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletTABEAdaptive/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletOKAlg1/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletOKAlg2/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletOKBio1/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletOKEng2/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletOKEng3/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletOKGeo/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletOKUSH/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletOK38Math6/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletOK38Math7/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletOK38Math8/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletOK38Read6/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletOK38Read7/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletOK38Read8/SpeechServlet.do</url-pattern>
  </servlet-mapping>
    
  <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletGACRCTReadGrade3/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletGACRCTReadGrade5/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletGACRCTMathGrade5/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletGACRCTReadGrade8/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletGACRCTMathGrade8/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletGMEOCElaTestPractice/SpeechServlet.do</url-pattern>
  </servlet-mapping>
    
  <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletGMEOCMathematicsTestPractice/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletGMEOCScienceTestPractice/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletGMEOCSocialStudiesTestPractice/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletGMEOCAccommodatedHighContrastTestPractice/SpeechServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletGMEOCAccommodatedLargeFontTestPractice/SpeechServlet.do</url-pattern>
  </servlet-mapping>  
  
  <servlet-mapping>
    <servlet-name>SpeechServlet</servlet-name>
    <url-pattern>/servletGMEOCAccommodatedScreenReaderTestPractice/SpeechServlet.do</url-pattern>
  </servlet-mapping>  
  
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servlet/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servletAS3/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servletAS4/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servletAS5/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servletAS6/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servletAS7/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servletAS8/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servlet3/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servlet4/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servlet5/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servlet6-8/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>IIContentServlet</servlet-name>
    <url-pattern>/servletii1/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servletTABEFixed/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servletTN312/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servletTN313/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servletTN314/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servletTN316/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>TABEAdaptiveContentServlet</servlet-name>
    <url-pattern>/servletTABEAdaptive/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servletOKAlg1/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servletOKAlg2/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servletOKBio1/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servletOKEng2/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servletOKEng3/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servletOKGeo/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servletOKUSH/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servletOK38Math6/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servletOK38Math7/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servletOK38Math8/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servletOK38Read6/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servletOK38Read7/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servletOK38Read8/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servletGACRCTReadGrade3/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servletGACRCTReadGrade5/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servletGACRCTMathGrade5/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servletGACRCTReadGrade8/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servletGACRCTMathGrade8/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servletGMEOCElaTestPractice/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servletGMEOCMathematicsTestPractice/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servletGMEOCScienceTestPractice/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servletGMEOCSocialStudiesTestPractice/ContentServlet.do</url-pattern>
  </servlet-mapping>  
  
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servletGMEOCAccommodatedHighContrastTestPractice/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servletGMEOCAccommodatedLargeFontTestPractice/ContentServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servletGMEOCAccommodatedScreenReaderTestPractice/ContentServlet.do</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <description>PersistenceServlet</description>
    <display-name>PersistenceServlet</display-name>
    <servlet-name>PersistenceServlet</servlet-name>
    <servlet-class>com.ctb.tdc.web.servlet.PersistenceServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servlet/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletAS3/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletAS4/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletAS5/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletAS6/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletAS7/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletAS8/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servlet3/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servlet4/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servlet5/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servlet6-8/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletii1/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletTABEFixed/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletTN312/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletTN313/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletTN314/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletTN316/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletTABEAdaptive/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletOKAlg1/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletOKAlg2/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletOKBio1/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletOKEng2/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletOKEng3/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletOKGeo/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletOKUSH/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
      <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletOK38Math6/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletOK38Math7/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletOK38Math8/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletOK38Read6/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletOK38Read7/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletOK38Read8/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletGACRCTReadGrade3/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletGACRCTReadGrade5/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletGACRCTMathGrade5/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletGACRCTReadGrade8/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
   
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletGACRCTMathGrade8/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletGMEOCElaTestPractice/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletGMEOCMathematicsTestPractice/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletGMEOCScienceTestPractice/PersistenceServlet.do</url-pattern>
  </servlet-mapping> 
  
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletGMEOCSocialStudiesTestPractice/PersistenceServlet.do</url-pattern>
  </servlet-mapping> 
  
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletGMEOCAccommodatedHighContrastTestPractice/PersistenceServlet.do</url-pattern>
  </servlet-mapping> 
  
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletGMEOCAccommodatedLargeFontTestPractice/PersistenceServlet.do</url-pattern>
  </servlet-mapping>  
  
  <servlet-mapping>
    <servlet-name>PersistenceServlet</servlet-name>
    <url-pattern>/servletGMEOCAccommodatedScreenReaderTestPractice/PersistenceServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>UtilityServlet</description>
    <display-name>UtilityServlet</display-name>
    <servlet-name>UtilityServlet</servlet-name>
    <servlet-class>com.ctb.tdc.web.servlet.UtilityServlet</servlet-class>
  </servlet>

<servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servlet/UtilityServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletAS3/UtilityServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletAS4/UtilityServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletAS5/UtilityServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletAS6/UtilityServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletAS7/UtilityServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletAS8/UtilityServlet.do</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servlet3/UtilityServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servlet4/UtilityServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servlet5/UtilityServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servlet6-8/UtilityServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletii1/UtilityServlet.do</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletTABEFixed/UtilityServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletTN312/UtilityServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletTN313/UtilityServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletTN314/UtilityServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletTN316/UtilityServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletTABEAdaptive/UtilityServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletOKAlg1/UtilityServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletOKAlg2/UtilityServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletOKBio1/UtilityServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletOKEng2/UtilityServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletOKEng3/UtilityServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletOKGeo/UtilityServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletOKUSH/UtilityServlet.do</url-pattern>
  </servlet-mapping>
  
        <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletOK38Math6/UtilityServlet.do</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletOK38Math7/UtilityServlet.do</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletOK38Math8/UtilityServlet.do</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletOK38Read6/UtilityServlet.do</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletOK38Read7/UtilityServlet.do</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletOK38Read8/UtilityServlet.do</url-pattern>
  
  </servlet-mapping>
     <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletGACRCTReadGrade3/UtilityServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletGACRCTReadGrade5/UtilityServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletGACRCTMathGrade5/UtilityServlet.do</url-pattern>
  </servlet-mapping>
  
    
  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletGACRCTReadGrade8/UtilityServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletGACRCTMathGrade8/UtilityServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletGMEOCElaTestPractice/UtilityServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletGMEOCMathematicsTestPractice/UtilityServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletGMEOCScienceTestPractice/UtilityServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletGMEOCSocialStudiesTestPractice/UtilityServlet.do</url-pattern>
  </servlet-mapping>  
  
  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletGMEOCAccommodatedHighContrastTestPractice/UtilityServlet.do</url-pattern>
  </servlet-mapping>  
  
  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletGMEOCAccommodatedLargeFontTestPractice/UtilityServlet.do</url-pattern>
  </servlet-mapping> 
  
  <servlet-mapping>
    <servlet-name>UtilityServlet</servlet-name>
    <url-pattern>/servletGMEOCAccommodatedScreenReaderTestPractice/UtilityServlet.do</url-pattern>
  </servlet-mapping>  
</web-app>
